<div class="sidebar">
    <div id="sidedashboard" class="sidebarcompo"><a href="/">Dashboard</a></div>
    <div id="About" class="sidebarcompo"><a href="/about">About</a></div>
    <div id="Assignment" class="sidebarcompo"><a href="/assignments">Assignments</a></div>
    <div id="Assignment" class="sidebarcompo"><a href="/events">Classes/Events</a></div>
    <div id="Assignment" class="sidebarcompo"><a href="/commoncalendar">Calendar</a></div>
    
</div>