html,
body {
  height: 100%;
  font-family: cursive;
}

.span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
}

.span:last-child {
  margin-left: 40px;
}

.apphead {
  margin-left: 30px;
  font-size: 1.8rem;

  align-items: center;

  width: 100%;
}

.content {
  display: flex;
  height: 100%;
}
.header {
  display: flex;
  margin-top: 0;
  background: black;
  align-items: center;
  height: 50px;
  color: wheat;
  justify-content: space-around;
  gap: 60px;
}
.header a {
  color: black;
  font-size: 1.5rem;
  padding: 5px;
  background-color: wheat;
}
.header a:hover {
  color: black;
  font-size: 1.5rem;
  padding: 5px;
  background-color: rgb(179, 245, 190);
}
.logout {
  font-size: 1rem;
  margin-right: 50px;
  text-decoration: none;
}

.searchinput {
  width: 300px;
}
.sidebar {
  display: flex;
  padding-top: 10px;
  gap: 10px;
  flex-direction: column;
  /* align-items: center; */
  font-size: 1.2rem;
  background: linear-gradient(
    180deg,
    #0048b4 -6.69%,
    #0063f8 22.54%,
    #e3efee 100%
  );
  width: 160px;
}
.sidebarcompo {
  /* text-align: center; */
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  background-color: white;
  border: 2px solid black;
}
.sidebarcompo a {
  color: black;
  padding: 5px;
  text-decoration: none;
}

.sidebarcompo:hover {
  background-color: rgb(188, 184, 168);
}
.dashboard {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 2px solid rgb(117, 117, 99);
  width: 100%;
  justify-content: space-between;
}
.dashboard .heading {
  font-size: 1.5rem;
}
.covering {
  padding-left: 10px;
  width: 100%;
}
.assignmentform {
  font-size: 1.5rem;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.assignmentform .form-details {
  font-size: 1rem;
  margin-left: 66px;
}
#course {
  margin-left: 57px;
}
#assignment {
  width: 600px;
  height: 80px;
  margin-left: 10px;
}
#date {
  margin-left: 32px;
}
.details {
  display: flex;
  align-items: center;
}
.submit {
  background-color: rgb(103, 103, 121);
  padding: 10px;
  font-size: 1.1rem;
  color: white;
}
#addsubmit {
  background-color: #4287f5;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
#addsubmit:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0.9);
}
.assignmenttable {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  border: 2px solid black;
}
table {
  border-collapse: collapse;
  border-spacing: 15px;
}

th {
  background-color: #0b1d39;
  color: wheat;
}

td,
th {
  width: 350px;
  text-align: center;

  border: 1px solid black;
}

td {
  background-color: rgb(174, 225, 239);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 9px;
}
.dotcovering {
  font-size: 1.5rem;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px dotted black;
  width: fit-content;
  padding: 20px;
  background-image: linear-gradient(
    to bottom,
    #17b3db,
    #80c3eb,
    #b9d4f5,
    #e3e7fa,
    #ffffff
  );
}
#updatesubmit {
  background-color: #4287f5;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
#updatesubmit:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0.9);
}
#deletesubmit {
  background-color: rgb(229, 58, 58);
  color: wheat;
  cursor: pointer;
  transition: 0.5s;
}

#deletesubmit:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0.9);
}
.viewbutton {
  font-size: 1.5rem;
}
.viewbutton:hover {
  cursor: pointer;
  background-color: blue;

  color: wheat;
}
.course-select {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: center;
}
.time-input {
  display: flex;
  width: 220px;
  align-items: center;
}
.select {
  width: 150px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}
.blogscovering {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.blogcovering {
  background-color: rgb(205, 242, 254);
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 9, 9.1);
}

.blog-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.author {
  color: blue;
  text-align: left;
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
}

.content {
  line-height: 1.6;
  margin-bottom: 16px;
}
.stylebutton {
  background-color: #000000;
}
.stylebutton a {
  text-decoration: none;
  padding: 3px;
  color: wheat;
  font-size: 1.2rem;
}
